{% extends 'blog/index.html' %}
{% load static %}

{% block content %}
    	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>主页</a></li>
				<li class="active">安全中心</li>
			</ol>
		</div>
	</div>
	<!--//breadcrumbs-->
	<!--login-->
	<div class="login-page">
		<div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
			<h3 class="title">账号安全<span> Form</span></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit curabitur </p>
		</div>
		<div class="widget-shadow">
			<div class="login-top wow fadeInUp animated" data-wow-delay=".7s">
				<h4>已有账号 ?<a href="{% url 'lisd:login' %}">  直接登录 »</a> </h4>
			</div>
			<div class="login-body">
				<form class="wow fadeInUp animated" data-wow-delay=".7s">
					<input type="text" placeholder="请输入用户名" required="">
					<input type="password" name="password1" class="lock" placeholder="请输入旧密码">
                    <input type="password" name="password2" class="lock" placeholder="请输入新密码">
					{% if error_message %}
                        {{ error_message }}
                    {% endif %}
                    <input type="submit" name="Register" value="提交">
				</form>
			</div>
		</div>
	</div>
{% endblock %}